.home-all-contents {
  .tweet-btn {
    .tweet-submit-btn {
      color: #fff;
      background-color: rgb(61, 175, 228);
      border-radius: 10vh;
      margin-bottom: 1rem;
    }
  }
  .post-btn-container {
    $main-color: #1ECD97;
    $sub-color: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    .tweet-btn {
      position: absolute;
      right: 1rem;
      top: 0.6rem;
      outline: none;
      height: 4rem;
      text-align: center;
      width: 13rem;
      border-radius: 4rem;
      background: #fff;
      border: 0.2rem solid $main-color;
      color: $main-color;
      letter-spacing: 0.1rem;
      text-shadow: 0;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        color: white;
        background: $main-color;
      }
      &:active {
        letter-spacing: 0.2rem;
      }
      &:after {
        content: "ツイートする";
      }
    }
    .onclic {
      width: 4rem;
      border-color: $sub-color;
      border-width: 0.3rem;
      font-size: 0;
      border-left-color: $main-color;
      animation: rotating 2s 0.25s linear infinite;
      &:after {
        content: "";
      }
      &:hover {
        color: $main-color;
        background: white;
      }
    }
    .validate {
      font-size: 1.3rem;
      color: white;
      background: $main-color;
      &:after {
        font-family: 'FontAwesome';
        content: "\f00c";
      }
    }
    .fail-validate {
      font-size: 1.3rem;
      color: red;
      background: white;
      &:after {
        font-family: 'FontAwesome';
        content: "\f00d";
      }
    }
    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
