/*Breakpoints
====================================================*/
$breakpoint: (
  sp: 'screen and (max-width: 320px)',
  tab: 'screen and (max-width: 630px)',
  large: 'screen and (max-width: 700px)',
  pc: 'screen and (max-width: 1025px)'
)!default;

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
