/*Breakpoints
====================================================*/
$max-breakpoint: (
  sp: 'screen and (max-width: 320px)',
  tab: 'screen and (max-width: 630px)',
  large: 'screen and (max-width: 700px)',
  pc: 'screen and (max-width: 1025px)'
)!default;

$min-breakpoint: (
  sp: 'screen and (min-width: 321px)',
  tab: 'screen and (min-width: 631px)',
  large: 'screen and (min-width: 701px)',
  pc: 'screen and (min-width: 1026px)'
)!default;

@mixin mq($mbp) {
  @media #{map-get($max-breakpoint, $mbp)} {
    @content;
  }
}

@mixin Mq($Mbp) {
  @media #{map-get($min-breakpoint, $Mbp)} {
    @content;
  }
}
